body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.footer {
    display: flex;
    justify-content: center;
}



